body{
    height: 100vh;
}

#root{
    height: 100%;
}

.container {
    height: calc(100% - 65.5px);
}

.pin {
    height: 20px;
    width: 20px;
    filter: invert(8%) sepia(95%) saturate(7492%) hue-rotate(8deg) brightness(90%) contrast(110%);
}